<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljryh.client.mapper.FileMapper">
    <select id="selectByMd5" resultType="com.ljryh.client.entity.FileInfo">

        SELECT a.* FROM s_file_info a
        where 1=1
          AND a.del = 0
        AND a.MD5 = #{md5}

    </select>

    <select id="selectByIdOrMd5" resultType="com.ljryh.client.entity.FileInfo">

        SELECT a.* FROM s_file_info a
        where 1=1
          AND a.del = 0
        AND (a.ID = #{id} OR a.MD5 = #{md5})
    </select>
</mapper>
