<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljryh.client.mapper.PermissionMapper">

    <select id="selectPage" resultType="com.ljryh.client.entity.Permission">
        SELECT a.* FROM s_permission a
        where 1=1
        AND a.del = 0
        <if test="ew.entity.permissionName != null and ew.entity.permissionName != ''">
            and a.permission_name like concat('%',#{ew.entity.permissionName},'%')
        </if>
        ORDER BY a.id
    </select>

    <select id="selectPermissionByRoleId" resultType="com.ljryh.client.entity.Permission">
        select
            a.*
        from
            s_permission a
        left join role_permission b on a.id = b.permission_id
        WHERE
            1=1
        AND b.role_id = #{id}
    </select>

    <select id="selectList" resultType="com.ljryh.client.entity.Permission">
        SELECT a.* FROM s_permission a
        where 1=1
          AND a.del = 0
        ORDER BY a.id
    </select>

    <update id="deleteById" >
        update s_permission set del = 1 where id = ${id};
    </update>

</mapper>
