<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljryh.client.mapper.SMenuMapper">

    <select id="selectList" resultType="com.ljryh.client.entity.SMenu">
        SELECT a.* FROM s_menu a
        where 1=1
        AND a.del = 0 AND a.type = 1
        ORDER BY a.id
    </select>

    <update id="deleteById" >
        update s_menu set del = 1 where id = ${id};
    </update>

    <select id="getPermissionNameByMenuId" resultType="com.ljryh.client.entity.SMenu">
        SELECT a.name FROM s_menu a
        where 1=1
          AND a.del = 0 AND a.type = 2 AND parent_id = ${id}
        ORDER BY a.id
    </select>

    <delete id="deleteSMenuByParentId">

        delete from s_menu where parent_id = #{id} and type = 2

    </delete>

    <select id="selAllMenu" resultType="com.ljryh.client.entity.SMenu">
        SELECT a.* FROM s_menu a
        where 1=1
          AND a.del = 0
        ORDER BY a.id
    </select>

</mapper>
