<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljryh.client.mapper.shiro.SysTokenMapper">

    <select id="findByToken" resultType="com.ljryh.client.entity.shiro.SysToken">
        select
            a.*
        from
            sys_token a
        WHERE
            1=1
        AND a.token = #{token}
    </select>

    <select id="findByUserId" resultType="com.ljryh.client.entity.shiro.SysToken">
        select
            a.*
        from
            sys_token a
        WHERE
            1=1
        AND a.user_id = #{userId}
    </select>

</mapper>
